In [1]:
import pandas as pd
df = pd.read_csv('C:\\Data\\SCHOOL_NEW\\1 U N A I R\\5  S E M E S T E R 5\\NLP\\P R O Y E K M3 NGRAM\\env\\quotes.csv')
df.head()

,Unnamed: 0,quote,author,tags
0,0,“Be yourself; everyone else is already taken.”,Oscar Wilde,"['be-yourself', 'gilbert-perreira', 'honesty',..."
1,1,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,"['best', 'life', 'love', 'mistakes', 'out-of-c..."
2,2,“Two things are infinite: the universe and hum...,Albert Einstein,"['human-nature', 'humor', 'infinity', 'philoso..."
3,3,"“So many books, so little time.”",Frank Zappa,"['books', 'humor']"
4,4,“A room without books is like a body without a...,Marcus Tullius Cicero,"['books', 'simile', 'soul']"

In [2]:
import re
from collections import Counter
# Fungsi untuk membersihkan teks
def clean_text(text):
    # Menghilangkan tanda kutip dan simbol khusus menggunakan regex
    text = re.sub(r'[^\w\s]', '', text)  # Hapus semua karakter selain huruf dan spasi
    text = text.lower()  # Ubah semua teks menjadi huruf kecil
    return text

# Terapkan fungsi cleaning pada kolom 'quote'
df['cleaned_quote'] = df['quote'].apply(clean_text)

> Menggunakan contractions untuk suatu kalimat dengan TOBE <br>
> I'm selfish menjadi I am selfish

In [3]:
import contractions

# Fungsi untuk memperluas kontraksi dalam teks
def expand_contractions(text):
    return contractions.fix(text)

# Terapkan fungsi pada kolom 'quote' dan simpan hasilnya di kolom baru 'expanded_quote'
df['expanded_quote'] = df['cleaned_quote'].apply(expand_contractions)

# Tampilkan DataFrame hasilnya
print(df[['cleaned_quote', 'expanded_quote']].head())

                                       cleaned_quote  \
0         be yourself everyone else is already taken
1  im selfish impatient and a little insecure i m...
2  two things are infinite the universe and human...
3                       so many books so little time
4  a room without books is like a body without a ...

                                      expanded_quote
0         be yourself everyone else is already taken
1  i am selfish impatient and a little insecure i...
2  two things are infinite the universe and human...
3                       so many books so little time
4  a room without books is like a body without a ...

In [4]:
import nltk
nltk.download('punkt')  # Unduh modul tokenisasi untuk nltk

# Fungsi untuk membagi teks menjadi kalimat
def split_to_sentences(text):
    from nltk.tokenize import sent_tokenize
    sentences = sent_tokenize(text)
    return sentences

# Fungsi untuk membagi kalimat menjadi token kata
def tokenize_sentences(sentences):
    from nltk.tokenize import word_tokenize
    tokenized_sentences = [word_tokenize(sentence) for sentence in sentences]
    return tokenized_sentences

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Zoen\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [5]:
# Fungsi untuk memproses seluruh kolom 'expanded_quote'
def get_tokenized_data(data):
    # Memisahkan teks menjadi kalimat
    sentences = split_to_sentences(data)
    
    # Tokenisasi setiap kalimat menjadi kata
    tokenized_sentences = tokenize_sentences(sentences)
    
    return tokenized_sentences

# Menerapkan fungsi pada kolom 'expanded_quote' di DataFrame
df['tokenized_quote'] = df['expanded_quote'].apply(get_tokenized_data)

# Tampilkan hasil
print(df[['expanded_quote', 'tokenized_quote']].head())

                                      expanded_quote  \
0         be yourself everyone else is already taken
1  i am selfish impatient and a little insecure i...
2  two things are infinite the universe and human...
3                       so many books so little time
4  a room without books is like a body without a ...

                                     tokenized_quote
0  [[be, yourself, everyone, else, is, already, t...
1  [[i, am, selfish, impatient, and, a, little, i...
2  [[two, things, are, infinite, the, universe, a...
3              [[so, many, books, so, little, time]]
4  [[a, room, without, books, is, like, a, body, ...

In [6]:
df.head()

,Unnamed: 0,quote,author,tags,cleaned_quote,expanded_quote,tokenized_quote
0,0,“Be yourself; everyone else is already taken.”,Oscar Wilde,"['be-yourself', 'gilbert-perreira', 'honesty',...",be yourself everyone else is already taken,be yourself everyone else is already taken,"[[be, yourself, everyone, else, is, already, t..."
1,1,"“I'm selfish, impatient and a little insecure....",Marilyn Monroe,"['best', 'life', 'love', 'mistakes', 'out-of-c...",im selfish impatient and a little insecure i m...,i am selfish impatient and a little insecure i...,"[[i, am, selfish, impatient, and, a, little, i..."
2,2,“Two things are infinite: the universe and hum...,Albert Einstein,"['human-nature', 'humor', 'infinity', 'philoso...",two things are infinite the universe and human...,two things are infinite the universe and human...,"[[two, things, are, infinite, the, universe, a..."
3,3,"“So many books, so little time.”",Frank Zappa,"['books', 'humor']",so many books so little time,so many books so little time,"[[so, many, books, so, little, time]]"
4,4,“A room without books is like a body without a...,Marcus Tullius Cicero,"['books', 'simile', 'soul']",a room without books is like a body without a ...,a room without books is like a body without a ...,"[[a, room, without, books, is, like, a, body, ..."

In [ ]:
df[['tokenized_quote', 'tags']].to_csv('new_tokenized.csv', index=False)